services:
  postgres:
    container_name: accompanyMe_postgres_db
    image: postgres
    environment:
      POSTGRES_USER: xinyangxu-2023@outlook.com
      POSTGRES_PASSWORD: xinyangxu
      PGDATA: /data/postgres
    volumes:
      - postgres:/data/postgres
    ports:
      - "5433:5432"
    networks:
      - postgres
    restart: unless-stopped

  pgadmin:
    container_name: accompanyMe_pgadmin
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL:-pgadmin4@pgadmin.org}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD:-admin}
      PGADMIN_CONFIG_SERVER_MODE: 'False'
    volumes:
      - pgadmin:/var/lib/pgadmin
    ports:
      - "5050:80"
    networks:
      - postgres
    restart: unless-stopped

  zipkin:
    image: openzipkin/zipkin
    container_name: accompanyMe_zipkin
    ports:
      - 9411:9411
    networks:
      - postgres
  
  rabbitmq:
    image: rabbitmq:3-management
    container_name: accompanyMe_rabbitmq
    ports:
      - 5672:5672
      - 15672:15672
    networks:
      - postgres


volumes:
  postgres:
  pgadmin:

networks:
  postgres:
    driver: bridge
