.profile-avatar {
    aspect-ratio: 1/1;
    border-radius: 50%;
    background: radial-gradient(circle at top, var(--background-soft), var(--background-strong));
    display: grid;
    place-items: center;
    color: var(--text-inverse);
    font-weight: 600;
    overflow: hidden;
    flex-shrink: 0;
}

.profile-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}